In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("data.csv") 
df.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID
0,558638,ZINC METAL HEART DECORATION,12,7/1/11 8:16,1.25,16317.0
1,558638,HANGING JAM JAR T-LIGHT HOLDER,24,7/1/11 8:16,0.85,16317.0
2,558638,LANTERN CREAM GAZEBO,3,7/1/11 8:16,4.95,16317.0
3,558638,ZINC T-LIGHT HOLDER STAR LARGE,12,7/1/11 8:16,0.95,16317.0
4,558638,FRENCH TOILET SIGN BLUE METAL,12,7/1/11 8:16,1.25,16317.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110813 entries, 0 to 110812
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      110813 non-null  object
 1   Itemname    110477 non-null  object
 2   Quantity    110813 non-null  int64
 3   Date        110813 non-null  object
 4   Price       110813 non-null  float64
 5   CustomerID  82340 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.1+ MB

In [7]:
df.describe()

            Quantity          Price    CustomerID
count  110813.000000  110813.000000  82340.000000
mean       10.142700       3.507632  15552.756789
std        44.150431      63.053221   1589.067844
min     -3667.000000  -11062.060000  12747.000000
25%         1.000000       1.250000  14191.000000
50%         4.000000       2.080000  15529.000000
75%        12.000000       4.130000  16910.000000
max      3186.000000   11062.060000  18283.000000