In [722]:
# Import necessary libraries
import pandas as pd  # Pandas for data manipulation
import numpy as np   # NumPy for numerical operations
from itertools import combinations  # For creating combinations of items
from collections import Counter   # For counting occurrences
import datetime   # For date-related operations
import warnings   # For handling warnings (ignoring them in this case)

# Ignore warning messages for cleaner output
warnings.filterwarnings('ignore')

DATA INGESTION

In [723]:
# Read the CSV file named "data.csv" into a Pandas dataframe and assign it to the variable 'df'
df = pd.read_csv("data.csv")

# Display the first 10 rows of the dataframe to provide an initial view of the data
df.head(10)

,BillNo,Itemname,Quantity,Date,Price,CustomerID
0,558638,ZINC METAL HEART DECORATION,12,7/1/11 8:16,1.25,16317.0
1,558638,HANGING JAM JAR T-LIGHT HOLDER,24,7/1/11 8:16,0.85,16317.0
2,558638,LANTERN CREAM GAZEBO,3,7/1/11 8:16,4.95,16317.0
3,558638,ZINC T-LIGHT HOLDER STAR LARGE,12,7/1/11 8:16,0.95,16317.0
4,558638,FRENCH TOILET SIGN BLUE METAL,12,7/1/11 8:16,1.25,16317.0
5,558638,POTTERING IN THE SHED METAL SIGN,12,7/1/11 8:16,2.08,16317.0
6,558638,METAL SIGN TAKE IT OR LEAVE IT,6,7/1/11 8:16,2.95,16317.0
7,558638,ALARM CLOCK BAKELIKE GREEN,4,7/1/11 8:16,3.75,16317.0
8,558638,DRAWER KNOB CRACKLE GLAZE IVORY,18,7/1/11 8:16,1.65,16317.0
9,558638,VINTAGE RED ENAMEL TRIM MUG,12,7/1/11 8:16,1.25,16317.0

In [724]:
# Display information about the dataframe 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110813 entries, 0 to 110812
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      110813 non-null  object
 1   Itemname    110477 non-null  object
 2   Quantity    110813 non-null  int64
 3   Date        110813 non-null  object
 4   Price       110813 non-null  float64
 5   CustomerID  82340 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 5.1+ MB

DATA CLEANING

In [725]:
# Check and print the size of the dataframe before removing duplicates
print("Size Before Removing Duplicates", df.shape)

# Calculate and print the total number of duplicates in the dataframe
total_duplicates = df.duplicated().sum()
print('Total Number of Duplicates', total_duplicates)

# Remove duplicate rows from the dataframe and update 'df' with the result
df = df.drop_duplicates()

# Print the size of the dataframe after removing duplicates
print("Size After Removing Duplicates", df.shape)

Size Before Removing Duplicates (110813, 6)
Total Number of Duplicates 821
Size After Removing Duplicates (109992, 6)

In [726]:
# Check for missing values in the dataframe and count them for each column.
df.isnull().sum()

BillNo            0
Itemname        336
Quantity          0
Date              0
Price             0
CustomerID    28463
dtype: int64

In [727]:
# Dropping the missing values in the 'Itemname' column 
df = df.dropna(subset='Itemname')

In [728]:
# Replace the missing values 'NaN' as 'unknown' 
df['CustomerID'] = df['CustomerID'].replace(np.nan, 'unknown', regex=True)

In [729]:
# Calculate and create a new column 'Sales' by multiplying 'Quantity' and 'Price'
df['Sales'] = df['Quantity'] * df['Price']

In [730]:
# Filter the dataframe to select rows where the 'Price' column is less than 0
df[df['Price'] < 0]

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Sales
47978,A563186,Adjust bad debt,1,8/12/11 14:51,-11062.06,unknown,-11062.06
47979,A563187,Adjust bad debt,1,8/12/11 14:52,-11062.06,unknown,-11062.06

In [731]:
# Filter the dataframe to select rows where the 'Quantity' column is less than 0
df[df['Quantity'] < 0]

        BillNo  Itemname  Quantity           Date  Price CustomerID  Sales
751     558723   damaged        -7   7/1/11 14:28    0.0    unknown   -0.0
769     558730   damaged        -1   7/1/11 14:51    0.0    unknown   -0.0
7906    559314         ?       -50   7/7/11 13:51    0.0    unknown   -0.0
9246    559375         ?      -300   7/8/11 10:37    0.0    unknown   -0.0
9249    559378  damages?       -39   7/8/11 10:40    0.0    unknown   -0.0
...        ...       ...       ...            ...    ...        ...    ...
102766  568401   damages       -35  9/27/11 10:30    0.0    unknown   -0.0
103073  568442   damages      -131  9/27/11 11:31    0.0    unknown   -0.0
106732  568724   damages       -21  9/28/11 16:27    0.0    unknown   -0.0
109729  569098  damages?      -231  9/30/11 12:09    0.0    unknown   -0.0
110074  569131   damaged        -5  9/30/11 13:49    0.0    unknown   -0.0

[64 rows x 7 columns]

In [732]:
# Filter the dataframe to select rows where both 'Price' and 'Quantity' are greater than 0
df = df[(df['Price'] > 0) & (df['Quantity'] > 0)]

In [733]:
# Filter the dataframe to select rows where 'BillNo' starts with a letter (either uppercase or lowercase)
df[df['BillNo'].str.match(r'^[a-zA-Z]')]

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Sales
47977,A563185,Adjust bad debt,1,8/12/11 14:50,11062.06,unknown,11062.06

In [734]:
# Filter the dataframe to select rows where 'BillNo' does not start with a letter (neither uppercase nor lowercase)
df = df[~df['BillNo'].str.match(r'^[a-zA-Z]')]

In [735]:
# Convert the 'Date' column to a datetime data type using the Pandas to_datetime() function
df["Date"] = pd.to_datetime(df["Date"])

BUSINESS ANALYSIS:

a. Which product are the top performers? Which products are lagging?

In [736]:
# Group the dataframe by 'Itemname' and calculate the sum of 'Quantity' for each item, then reset the index
top_performers = df.groupby('Itemname')['Quantity'].sum().reset_index()

# Sort the 'top_performers' dataframe by 'Quantity' in descending order to identify top-performing items
top_performers = top_performers.sort_values(by='Quantity', ascending=False) 

# Display the top-performing products by showing the first few rows of the 'top_performers' dataframe
print("Top Performing Products:")
top_performers.head()

Top Performing Products:

                                Itemname  Quantity
1400             JUMBO BAG RED RETROSPOT     11755
177        ASSORTED COLOUR BIRD ORNAMENT     10926
2068                      POPCORN HOLDER     10604
3023   WORLD WAR 2 GLIDERS ASSTD DESIGNS      7714
2959  WHITE HANGING HEART T-LIGHT HOLDER      7296

In [737]:
# Sort the 'top_performers' dataframe by 'Quantity' in ascending order to identify lagging products
top_performers = top_performers.sort_values(by='Quantity', ascending=True)

# Display the lagging products by showing the first few rows of the sorted 'top_performers' dataframe
print("Lagging Products:")
top_performers.head()

Lagging Products:

                                 Itemname  Quantity
2582            SILVER ROCCOCO CHANDELIER         1
2338                SCHOOL DESK AND CHAIR         1
2354      SET 10 CARDS MAGICAL TREE 17086         1
624   CHUNKY CRACKED GLAZE NECKLACE IVORY         1
2098             PURPLE GEMSTONE BRACELET         1

b. The business has a hunch that certain products sell better at specific times of the year or maybe even days of the week. Using the data, validate this hunch.

In [738]:
# Extract the month from the 'Date' column and create a new column 'Month' to store it
df['Month'] = df['Date'].dt.month

# Extract the day of the week (e.g., Monday, Tuesday) from the 'Date' column and create a new column 'day_of_week' to store it
df['day_of_week'] = df['Date'].dt.day_name()

# Extract the day of the month from the 'Date' column and create a new column 'Day' to store it
df['Day'] = df['Date'].dt.day

In [739]:
# Group the dataframe by 'Itemname' and 'Month', then calculate the sum of 'Quantity' for each combination
# Sort the result in descending order based on 'Quantity' and reset the index
monthly_sales = df.groupby(['Itemname', 'Month'])['Quantity'].sum().sort_values(ascending=False).reset_index()

# Display the top 10 rows of the 'monthly_sales' dataframe
monthly_sales.head(10)

                              Itemname  Month  Quantity
0        ASSORTED COLOUR BIRD ORNAMENT      8      6489
1                       POPCORN HOLDER      8      5135
2              JUMBO BAG RED RETROSPOT      8      4648
3              JUMBO BAG RED RETROSPOT      9      4059
4                       POPCORN HOLDER      9      3756
5       GIRLS ALPHABET IRON ON PATCHES      7      3579
6            ASSORTED COLOURS SILK FAN      7      3462
7  ESSENTIAL BALM 3.5g TIN IN ENVELOPE      7      3207
8              JUMBO BAG RED RETROSPOT      7      3048
9   WHITE HANGING HEART T-LIGHT HOLDER      7      2943

In [740]:
# Filter the dataframe to select rows where 'Itemname' is 'ASSORTED COLOUR BIRD ORNAMENT'
product = df[df['Itemname'] == 'ASSORTED COLOUR BIRD ORNAMENT']

# Group the filtered dataframe by 'Month' and calculate the sum of 'Quantity' for each month
# Sort the result by 'Month' index
product_msales = product.groupby('Month')['Quantity'].sum().sort_index()

# Display the monthly sales for the selected product
product_msales

Month
7    1725
8    6489
9    2712
Name: Quantity, dtype: int64

In [741]:
# Group the filtered 'product' dataframe by 'day_of_week' and calculate the sum of 'Quantity' for each day of the week
# Sort the result in descending order based on sales quantity
product_wsales = product.groupby('day_of_week')['Quantity'].sum().sort_values(ascending=False)

# Display the weekly sales for the selected product
product_wsales

day_of_week
Thursday     6250
Monday       1156
Tuesday       912
Wednesday     910
Friday        874
Sunday        824
Name: Quantity, dtype: int64

product name = "ASSORTED COLOUR BIRD ORNAMENT' 
Highly saled by month = 'Aug' 
Highly saled by days of the week = 'Thursday'

c. Are there products that were once best-sellers but have seen a decrease in sales recently?

In [742]:
# Group the dataframe by 'Itemname' and 'Month', then calculate the sum of 'Quantity' for each combination
# Sort the result in descending order based on 'Quantity' and reset the index
# Display the top 10 rows of the resulting dataframe

df.groupby(['Itemname', 'Month'])['Quantity'].sum().sort_values(ascending=False).reset_index().head(10)

                              Itemname  Month  Quantity
0        ASSORTED COLOUR BIRD ORNAMENT      8      6489
1                       POPCORN HOLDER      8      5135
2              JUMBO BAG RED RETROSPOT      8      4648
3              JUMBO BAG RED RETROSPOT      9      4059
4                       POPCORN HOLDER      9      3756
5       GIRLS ALPHABET IRON ON PATCHES      7      3579
6            ASSORTED COLOURS SILK FAN      7      3462
7  ESSENTIAL BALM 3.5g TIN IN ENVELOPE      7      3207
8              JUMBO BAG RED RETROSPOT      7      3048
9   WHITE HANGING HEART T-LIGHT HOLDER      7      2943

In [743]:
# Filter the dataframe to select rows where 'Itemname' is 'GIRLS ALPHABET IRON ON PATCHES'
high_to_low = df[df['Itemname'] == 'GIRLS ALPHABET IRON ON PATCHES']

# Group the filtered dataframe by 'Month' and calculate the sum of 'Quantity' for each month
monthly_quantity = high_to_low.groupby('Month')['Quantity'].sum()

# Display the monthly sales quantities for the selected product
monthly_quantity

Month
7    3579
8     179
9    1550
Name: Quantity, dtype: int64

In [744]:
# Filter the dataframe to select rows where 'Itemname' is 'ASSORTED COLOURS SILK FAN'
high_to_low = df[df['Itemname'] == 'ASSORTED COLOURS SILK FAN']

# Group the filtered dataframe by 'Month' and calculate the sum of 'Quantity' for each month
monthly_quantity = high_to_low.groupby('Month')['Quantity'].sum()

# Display the monthly sales quantities for the selected product
monthly_quantity

Month
7    3462
8     707
9     391
Name: Quantity, dtype: int64

Two products, 'GIRLS ALPHABET IRON ON PATCHES' and 'ASSORTED COLOURS SILK FAN,' which were previously best-sellers, have exhibited a decrease in sales recently

d. Identify the most common products that are bought together. Can you find any product pairs or combinations?

In [745]:
# Assuming your DataFrame is named df_new
df_new = df[['BillNo', 'Itemname', 'CustomerID']]

# Group the dataframe by 'BillNo' and 'CustomerID', aggregating the 'Itemname' as a list
grouped = df_new.groupby(['BillNo', 'CustomerID'])['Itemname'].agg(list).reset_index()

# Create a function to find pairs within a list of items
def find_pairs(item_list):
    pairs = []
    for i in range(len(item_list)):
        for j in range(i + 1, len(item_list)):
            pairs.append((item_list[i], item_list[j]))
    return pairs

# Apply the function to find pairs within each group and create a new 'Pairs' column
grouped['Pairs'] = grouped['Itemname'].apply(find_pairs)

# Flatten the list of pairs
all_pairs = [pair for pairs in grouped['Pairs'] for pair in pairs]

# Create a DataFrame to count the frequency of pairs
pair_counts = pd.DataFrame(all_pairs, columns=['Pr-1', 'Pr-2'])
pair_counts['Frequency'] = 1
pair_counts = pair_counts.groupby(['Pr-1', 'Pr-2'])['Frequency'].sum().reset_index()

# Get the top 20 most frequent product pairs
top_pairs = pair_counts.sort_values(by='Frequency', ascending=False).head(15)

# Display the top pairs
top_pairs

                                      Pr-1                     Pr-2  Frequency
931972                    JUMBO BAG APPLES  JUMBO BAG RED RETROSPOT        146
942833             JUMBO BAG PINK POLKADOT  JUMBO BAG RED RETROSPOT        141
1057317            LUNCH BAG RED RETROSPOT  LUNCH BAG  BLACK SKULL.        128
967863              JUMBO STORAGE BAG SUKI  JUMBO BAG RED RETROSPOT        126
1061463              LUNCH BAG SUKI DESIGN   LUNCH BAG APPLE DESIGN        123
963840   JUMBO SHOPPER VINTAGE RED PAISLEY  JUMBO BAG RED RETROSPOT        120
1900057                     SPOTTY BUNTING            PARTY BUNTING        119
1059400          LUNCH BAG SPACEBOY DESIGN    LUNCH BAG SUKI DESIGN        117
967855              JUMBO STORAGE BAG SUKI         JUMBO BAG APPLES        117
1057323            LUNCH BAG RED RETROSPOT  LUNCH BAG PINK POLKADOT        114
1057326            LUNCH BAG RED RETROSPOT    LUNCH BAG SUKI DESIGN        114
1057319            LUNCH BAG RED RETROSPOT   LUNCH BAG APPLE DESIGN        113
1044248            LUNCH BAG  BLACK SKULL.    LUNCH BAG SUKI DESIGN        113
1059394          LUNCH BAG SPACEBOY DESIGN   LUNCH BAG APPLE DESIGN        111
1057320            LUNCH BAG RED RETROSPOT      LUNCH BAG CARS BLUE        109

e. Which are the top 10 most frequent product baskets?

In [746]:
# Display the top 10 most frequent product pairs
top_pairs.head(10)

                                      Pr-1                     Pr-2  Frequency
931972                    JUMBO BAG APPLES  JUMBO BAG RED RETROSPOT        146
942833             JUMBO BAG PINK POLKADOT  JUMBO BAG RED RETROSPOT        141
1057317            LUNCH BAG RED RETROSPOT  LUNCH BAG  BLACK SKULL.        128
967863              JUMBO STORAGE BAG SUKI  JUMBO BAG RED RETROSPOT        126
1061463              LUNCH BAG SUKI DESIGN   LUNCH BAG APPLE DESIGN        123
963840   JUMBO SHOPPER VINTAGE RED PAISLEY  JUMBO BAG RED RETROSPOT        120
1900057                     SPOTTY BUNTING            PARTY BUNTING        119
1059400          LUNCH BAG SPACEBOY DESIGN    LUNCH BAG SUKI DESIGN        117
967855              JUMBO STORAGE BAG SUKI         JUMBO BAG APPLES        117
1057323            LUNCH BAG RED RETROSPOT  LUNCH BAG PINK POLKADOT        114

f. How does basket size vary with the day of the week or time of the month?

In [747]:
# Calculate the total quantity of items sold for each day of the week
# Group the DataFrame 'df' by the 'day_of_week' column and sum the 'Quantity' values
basket_by_day = df.groupby('day_of_week')['Quantity'].sum()

# Display the resulting sales quantities for each day of the week
basket_by_day

day_of_week
Friday       160592
Monday       154365
Sunday       119161
Thursday     279080
Tuesday      222780
Wednesday    206277
Name: Quantity, dtype: int64

In [748]:
# Calculate the total quantity of items sold for each day of the month
# Group the DataFrame 'df' by the 'Day' column and sum the 'Quantity' values
basket_by_month = df.groupby('Day')['Quantity'].sum()

# Display the resulting sales quantities for each day of the month
basket_by_month

Day
1     39244
2     28355
3     18567
4     56586
5     48483
6     27741
7     36172
8     36238
9     21682
10    17039
11    55772
12    38132
13    37171
14    28785
15    41504
16    25255
17    34531
18    37904
19    40296
20    58852
21    43300
22    50207
23    28707
24    44083
25    42979
26    37367
27    30449
28    53594
29    36315
30    28122
31    18823
Name: Quantity, dtype: int64

g. Identify different baskets of goods sold, which are the top 10 baskets?

In [749]:
# Group the DataFrame 'df' by 'BillNo' and calculate the number of unique items in each basket
df_baskets = df.groupby('BillNo')['Itemname'].unique().apply(lambda x: len(x)).reset_index(name='UniqueItems')

# Sort the baskets by the number of unique items in descending order
top_10_baskets = df_baskets.sort_values(by='UniqueItems', ascending=False).head(10)

# Display the top 10 baskets
print("Top 10 Baskets:")
print(top_10_baskets)

Top 10 Baskets:
      BillNo  UniqueItems
180   559055          487
179   559052          463
854   560772          449
742   560434          443
929   560926          438
483   559816          433
3576  567656          419
3414  567183          386
640   560225          379
440   559693          358

In [750]:
# Assuming your DataFrame is named df
df_new_2 = df[['BillNo', 'Itemname']]

# Group by 'BillNo' and collect unique item names into lists
baskets = df_new_2.groupby('BillNo')['Itemname'].apply(list).reset_index()

# Count the occurrences of each basket
basket_counts = baskets['Itemname'].apply(lambda x: tuple(sorted(set(x)))).value_counts().reset_index()

# Rename the columns
basket_counts.columns = ['Basket', 'Count']

# Sort by count in descending order and take the top 10
top_baskets = basket_counts.sort_values(by='Count', ascending=False).head(10)

# Display the result
result = top_baskets[['Basket', 'Count']].reset_index(drop=True)
print(result)

                                              Basket  Count
0                                          (Manual,)     25
1                                         (POSTAGE,)     21
2              (WHITE HANGING HEART T-LIGHT HOLDER,)      6
3                    (PLEASE ONE PERSON METAL SIGN,)      6
4                   (DOORMAT KEEP CALM AND COME IN,)      5
5                  (PANTRY MAGNETIC  SHOPPING LIST,)      5
6                                   (CHILLI LIGHTS,)      4
7  (CREAM SWEETHEART MINI CHEST, PIGGY BANK RETRO...      4
8                                   (PARTY BUNTING,)      4
9                              (RABBIT NIGHT LIGHT,)      4

h. Are there any loyal customers? Identify customers who make frequent purchases.

In [751]:
# Filter the DataFrame 'df' to exclude rows with 'CustomerID' equal to 'unknown'
df_new_3 = df[df['CustomerID'] != 'unknown']

# Group the filtered DataFrame by 'CustomerID' and calculate the sum of 'Quantity' for each customer
# Then, sort the result in descending order based on sales quantity and select the top 10 customers
top_10_customers = df_new_3.groupby('CustomerID')['Quantity'].sum().sort_values(ascending=False).head(10)

# Display the top 10 customers and their total sales quantities
print("Top 10 Loyal Customers:")
print(top_10_customers)

Top 10 Loyal Customers:
CustomerID
17450.0    35448
12931.0    18114
18102.0    17333
17511.0    16310
13694.0    13646
14298.0    13497
17949.0    11609
13089.0     8687
18251.0     7824
16029.0     7772
Name: Quantity, dtype: int64

i. Can you segment customers based on their total spend?

In [752]:
# Group the DataFrame 'df' by 'CustomerID' and calculate the sum of 'Sales' for each customer
customer_spending = df.groupby('CustomerID')['Sales'].sum().reset_index()

# Define spending thresholds for segmentation
low_threshold = 1000
high_threshold = 5000

# Create a function to segment customers based on their total spending
def segment_customers(spend):
    if spend < low_threshold:
        return 'Low Spender'
    elif spend < high_threshold:
        return 'Medium Spender'
    else:
        return 'High Spender'

# Apply the segmentation function to the 'Sales' column and create a new 'Segment' column
customer_spending['Segment'] = customer_spending['Sales'].apply(segment_customers)

# Display the segmented customers along with their total spending and segments
customer_spending

     CustomerID      Sales         Segment
0       12747.0     301.70     Low Spender
1       12748.0    8039.76    High Spender
2       12749.0    1896.13  Medium Spender
3       12820.0     217.77     Low Spender
4       12822.0     948.88     Low Spender
...         ...        ...             ...
1935    18273.0     102.00     Low Spender
1936    18278.0     173.90     Low Spender
1937    18282.0     100.21     Low Spender
1938    18283.0     274.79     Low Spender
1939    unknown  315177.80    High Spender

[1940 rows x 3 columns]

j. How often do customers return to make another purchase?

In [753]:
# Set the number of months for the time frame
months = 1

# Convert the 'Date' column to a datetime object if it's not already
df['Date'] = pd.to_datetime(df['Date'])

# Group by 'CustomerID' and calculate the earliest and latest purchase dates
customer_purchase_dates = df.groupby('CustomerID')['Date'].agg(['min', 'max'])

# Calculate the start date of the time frame by subtracting the specified number of months from the latest purchase date
time_frame_start = customer_purchase_dates['max'] - pd.DateOffset(months=months)

# Identify repeat customers by selecting those whose earliest purchase date is within the specified time frame
repeat_customers = customer_purchase_dates[customer_purchase_dates['min'] >= time_frame_start]

# Calculate the customer retention rate by dividing the number of repeat customers by the total number of unique customers
retention_rate = len(repeat_customers) / len(customer_purchase_dates) * 100

# Print the customer retention rate
print(f"Customer Retention Rate within {months} months: {retention_rate:.2f}%")

Customer Retention Rate within 1 months: 71.34%